*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select:none;
}

body {
    background: skyblue;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    touch-action: none;
}
.game-wrapper{
    background: slateblue;
    padding: 1rem 1rem 1.5rem;
    border-radius: 2rem;
    box-shadow:  0 20px 30px gray;
    border: 2px solid red;
}